{% set mid = loop.index == 2 %}
<div class="col-12 col-md-4 {{mid ? 'my-4 my-md-0'}} {{loop.index > 3 ? 'mt-4'}}">

	<div class="carrotOverviewCard w-100 h-100 d-flex align-items-center flex-column gap-2">

		{% if cpt.thumbnail %}

			{% if card_type == 'small-image' %}

				<div class="carrotOverviewCard__image carrotOverviewCard__image--small p-2 mt-3 d-flex align-items-center justify-content-center">

					<img src="{{cpt.thumbnail}}" class="w-100" width="160" />

				</div>

			{% endif %}

			{% if card_type == 'large-image' %}

				<div class="carrotOverviewCard__image carrotOverviewCard__image--large overflow-hidden mb-3 d-flex align-items-center justify-content-center">

					<img src="{{cpt.thumbnail}}" class="cover w-100" width="600" height="600"/>

				</div>

			{% endif %}

		{% endif %}

		{% if cpt.post_title or cpt.title %}

			<h3 class="text-center m-0">{{cpt.post_title ? cpt.post_title : cpt.title}}</h3>

		{% endif %}

		{% for specification in cpt.specifications %}

			{% include 'molecules/carrotSpecifications.twig' with {
				'specification': specification
			} %}

		{% endfor %}

		{% if cpt.content %}

			<div class="carrotOverviewCard__content text-align-center mb-3">

				{{cpt.content|striptags('<p><br>')|truncate(28)}}

			</div>

		{% endif %}

		<div class="mb-3">

			{% include 'atoms/button.twig' with {
		'url': cpt.permalink,
		'title': 'See CPT',
		'classes': 'button--primary d-inline-flex'
		}
	%}

		</div>

	</div>

</div>

