<div class="form {{type ? type}} {{width ? width}} p-4">

	{% if software == 'forms' %}

		{% if title == 'true' %}

			{{ '[forms_form title="true" id="' ~ ID ~ '"]'|do_shortcode }}


		{% else %}

			{{ '[forms_form id="' ~ ID ~ '"]'|do_shortcode }}

		{% endif %}

	{% endif %}

	{% if software == 'gravityforms' %}

		{{ shortcode|do_shortcode }}

	{% endif %}


</div>
