{% set background = fields.background_color ? fields.background_color : cpt_options.hero_background_color %}
{% set font = fields.font_color ? fields.font_color : cpt_options.hero_font_color %}
{% set imageType = fields.image_type ? fields.image_type : cpt_options.hero_image_type %}

<section class="section {{background ? background}} {{font ? font}} section--first overflow-hidden">

	<div class="hero d-flex align-items-center justify-content-center fade-in delay-2 pt-md-0" style="background: {{fields.background_color}}">

		{% if fields.background_video %}

			<div class="textImage__videoOverlay position-absolute w-100 h-100"></div>
			<video class="w-100 h-100 position-absolute cover object-center grey" src="{{fields.background_video}}" autoplay muted playsinline nocontrols loop></video>

		{% endif %}

		<div class="container py-4">
			<div class="row">
				<div class="col-12 {{fields.animation ? 'col-md-6' }} {{fields.image ? 'col-md-6' }} d-flex flex-column align-items-start justify-content-center z-4" style="perspective:1000px;">
					<div class="swing-in-top-fwd delay-2">

						{% if fields.title %}

							<h1 class="hero__title">{{fields.title}}</h1>

						{% endif %}

						{% if fields.content %}

							<div class="hero__content">
								{{fields.content}}
							</div>

						{% endif %}

					</div>

					{% if fields.buttons.button_left or fields.buttons.button_right %}

						<div class="d-flex mt-4 gap-3 fade-in delay-5">

							{% if fields.buttons.button_left.url and fields.buttons.button_left.title %}

				{% include 'atoms/button.twig' with {
		'url': fields.buttons.button_left.url,
		'title': fields.buttons.button_left.title,
		'classes': fields.buttons.button_left_style,
		'target': fields.buttons.button_left.target
		}
	%}

							{% endif %}

							{% if fields.buttons.button_right.url and fields.buttons.button_right.title %}


				{% include 'atoms/button.twig' with {
		'url': fields.buttons.button_right.url,
		'title': fields.buttons.button_right.title,
		'classes': fields.buttons.button_right_style,
		'target': fields.buttons.button_right.target
		}
	%}

							{% endif %}

						</div>

					{% endif %}

				</div>

				{% if fields.asset_type == 'animation' %}

					{% if fields.animation %}

					{% include 'molecules/heroAnimation.twig' %}

					{% endif %}

				{% endif %}

				{% if fields.asset_type == 'image' %}
					{% if fields.image %}

					<div class="col-12 col-md-6 mt-4 mt-md-0 d-flex align-items-center justify-content-center scale-in-center delay-4 z-4">
						<img src="{{fields.image.url}}" class="hero__image {{imageType ? imageType}} cover"/>
					</div>

					{% endif %}
				{% endif %}

			</div>
		</div>
	</div>
</section>
