{% if theme_options.navigation == 'traditional' %}
	<div class="container navigation navigation--traditional py-3">

		<div class="row">

			<div class="col-4 col-lg-1">
				<img class="navigation__logo" src="{{theme_options.logo}}" alt="">
			</div>

			<div class="col-8 col-lg-11 d-flex align-items-center justify-content-end justify-content-lg-start">
				<nav class="navigation__navWrapper ps-0 ps-lg-4 d-flex flex-column flex-lg-row justify-content-between w-100">
					<ul class="navigation--primary d-flex align-items-center flex-column flex-lg-row justify-content-center justify-content-lg-start column-gap-4 m-0 p-0">
						{% for item in menu.items %}
							<li data-menu-item="true" class="navigation__item {{item.children ? 'navigation__item--parent' }} navigation__item--traditional d-flex position-relative {{ item.classes | join(' ') }}">
								<a class="navigation__link navigation__link" href="{{item.url}}"><span>{{item.title}}</span></a>
								{% if item.children %}
									<ul class="navigation__dropdown">
										<div class="navigation__dropdownInner">
										{% for child in item.children %}
											<li data-menu-item="true" class="navigation__item navigation__item--traditional d-flex {{ child.classes | join(' ') }}">
												<a class="navigation__link" href="{{child.url}}">{{child.title}}</a>
											</li>
										{% endfor %}
										</div>
									</ul>
								{% endif %}
							</li>
						{% endfor %}
					</ul>

					<ul class="navigation--secondary mx-auto mx-lg-0 d-flex align-items-end justify-content-center justify-content-lg-start column-gap-4 m-0 p-0">
						{% for item in menuSecondary.items %}
							<li data-menu-item="true" class="navigation__item navigation__item--traditional d-flex {{ item.classes | join(' ') }}">
								<a class="navigation__link" href="{{item.url}}">{{item.title}}</a>
							</li>


						{% endfor %}
					</ul>
				</nav>

				<div class="navigation__hamburger d-flex d-lg-none flex-column align-items-center justify-content-center z-9">

					<div class="navigation__toggleWrapper d-flex flex-column align-items-center justify-content-center z-4">

						<div class="navigation__bar navigation__bar--top"></div>
						<div class="navigation__bar navigation__bar--mid"></div>
						<div class="navigation__bar navigation__bar--bottom"></div>

					</div>

				</div>
			</div>

		</div>
	</div>
{% endif %}
{% if theme_options.navigation == 'fullscreen' %}

	<nav class="navigation navigation--fullScreen d-flex align-items-center justify-content-center position-fixed top-0 end-0 bottom-0  start-0 w-100 h-100">

		<div class="navigation__toggleBG d-flex position-absolute top-0 end-0 w-100 h-100"></div>

		<div class="navigation__hamburger d-flex flex-column align-items-center justify-content-center position-fixed z-9">

			<div class="navigation__toggleWrapper d-flex flex-column align-items-center justify-content-center position-absolute z-4">

				<div class="navigation__bar navigation__bar--top w-100"></div>

				<div class="navigation__bar navigation__bar--mid w-100"></div>

				<div class="navigation__bar navigation__bar--bottom w-100"></div>

			</div>

		</div>

		<div class="navigation__wrapper d-flex align-items-center justify-content-center position-fixed top-0 end-0 bottom-0 start-0 w-100 h-100">

			<ul class="navigation__list position-fixed w-100 h-100 top-0 end-0 bottom-0 start-0 d-flex align-items-center justify-content-center flex-column p-0">
				{% for item in menu.items %}
					<li data-menu-item="true" class="navigation__item d-flex p-0 {{ item.classes | join(' ') }}">
						<a class="navigation__link" href="{{item.url}}">{{item.title}}</a>
					</li>
				{% endfor %}
			</ul>

		</div>
	</nav>
{% endif %}

