{% set content = fields.content ? fields.content %}
{% set background = fields.background_color ? fields.background_color : cpt_options.hero_background_color %}
{% set inFocus = fields.in_focus ? fields.in_focus %}
{% set fontColor = fields.font_color ? fields.font_color %}
{% set type = fields.type ? fields.type %}

<section {{inFocus ?: 'data-inviewport="no"' }} class="section {{inFocus ? 'section--focussed'}} pricingTable {{fields.full_height ? 'section--fullHeight'}} {{fields.row_color ? fields.row_color : 'pricingTable--primaryRowColor'}}  {{background ? background}} {{fontColor ? fontColor}} d-flex align-items-center justify-content-center">

	<div class="container">

		{% if content %}

			<div class="row align-items-center justify-content-center">

				<div class="col-12 textImage__content {{ image ? 'col-md-6' }} d-flex flex-column" style="perspective:1000px;">

					<div class="fade-in delay-1 d-flex align-items-start justify-content-center">

						<div class="textImage__content ">

							{{content}}

						</div>

					</div>

				</div>

			</div>

		{% endif %}

		<div class="row mt-4 fade-in-top delay-3">

			{% include 'molecules/pricing.twig' with {
							'type': type,
							'table': fields
			}%}


			{% if type == 'cards' %}
				
				{% for cpt in fields.item_row %}
					{% include 'molecules/carrotOverviewCard.twig' with {
							'itemOptions': true,
							'linkText': fields.cta_button_text,
							'content': cpt.description,
							'thumbnail': cpt.row_image.url,
							'card_type': fields.card_type,
							'buttonType': fields.button_type,
							'link': fields.card_button_link
					}%}

				{% endfor %}

			{% endif %}
		</div>

	</div>

</section>

