{% set title = fields.title ? fields.title : item.title %}
{% set content = fields.content ? fields.content : item.content %}
{% set buttonLeft = fields.buttons.button_left ? fields.buttons.button_left : item.buttons.button_left %}
{% set buttonRight = fields.buttons.button_right ? fields.buttons.button_right : item.buttons.button_right %}
{% set backgroundVideo = fields.background_video ? fields.background_video : item.background_video %}
{% set image = fields.image ? fields.image : item.image %}
{% set layout = fields.layout ? fields.layout : item.layout %}
{% set font_color = fields.font_color ? fields.font_color : item.font_color %}
{% set background_color = fields.background_color ? fields.background_color : item.background_color %}


<section data-inviewport="no" class="section {{backgroundVideo ? 'section--bgVideo'}} {{font_color ? font_color}} textImage d-flex align-items-center justify-content-center position-relative" style="background: {{background_color}}">

	{% if backgroundVideo %}

		<div class="textImage__videoOverlay position-absolute w-100 h-100"></div>

		<video class="w-100 h-100 position-absolute top-0 end-0 bottom-0 start-0 cover object-center grey" src="{{backgroundVideo}}" autoplay muted playsinline nocontrols></video>

	{% endif %}

	<div class="container">
		<div class="row">

			{% if layout == 'text-left' %}

				<div class="col-12 textImage__content {{ image ? 'col-md-6' }} d-flex flex-column align-items-start justify-content-center" style="perspective:1000px;">
					<div class="fade-in-left delay-1">

						{% if title %}

							<h2 class="textImage__title">{{title}}</h2>

						{% endif %}

						{% if content %}

							<div class="textImage__content">
								{{content}}
							</div>

						{% endif %}

					</div>

					{# <pre>{{dump(fields)}}</pre> #}

					{% if buttonLeft or buttonRight %}

						<div class="d-flex mt-3 gap-3 fade-in delay-5">

							{% if buttonLeft.url and buttonRight.title %}

				{% include 'atoms/button.twig' with {
		'url': buttonLeft.url,
		'title': buttonLeft.title,
		'target': buttonLeft.target,
		'classes': buttonLeft_style
		}
	%}


							{% endif %}

							{% if buttonRight.url and buttonRight.title %}

				{% include 'atoms/button.twig' with {
		'url': buttonRight.url,
		'title': buttonRight.title,
		'target': buttonRight.target,
		'classes': buttonRight.button_right_style
		}
	%}

							{% endif %}

						</div>

					{% endif %}

				</div>

			{% endif %}

			{% if image %}

				<div class="textImage__imageWrapper col-12 col-md-6 d-flex align-items-center justify-content-center scale-in-center delay-3 mt-3 mt-md-0">
					<img src="{{image.url}}" class="textImage__image cover"/>
				</div>

			{% endif %}

			{% if layout == 'text-right' %}

				<div class="col-12 {{ image ? 'col-md-6' }} d-flex flex-column align-items-start justify-content-center" style="perspective:1000px;">
					<div class="fade-in-right delay-1">

						{% if title %}

							<h2 class="textImage__title">{{title}}</h2>

						{% endif %}

						{% if content %}

							<div class="textImage__content">
								{{content}}
							</div>
							
						{% endif %}
					</div>

					{# <pre>{{dump(fields)}}</pre> #}

					{% if buttonLeft or buttonRight %}

						<div class="d-flex mt-4 gap-3 fade-in delay-5">

							{% if buttonLeft.url and buttonRight.title %}

								{% include 'atoms/button.twig' with {
						'url': buttonLeft.url,
						'title': buttonLeft.title,
						'target': buttonLeft.target,
						'style': fields.buttons.button_left_style
					}
				%}

							{% endif %}

							{% if buttonRight.url and buttonRight.title %}

								{% include 'atoms/button.twig' with {
						'url': buttonRight.url,
						'title': buttonRight.title,
						'target': buttonRight.target,
						'style': fields.buttons.button_right_style
					}
				%}

							{% endif %}

						</div>

					{% endif %}

				</div>

			{% endif %}
		</div>
	</div>
</section>
